# ==============================
# Web server
# ==============================

Django==1.9.13
gevent==1.1.1
gunicorn==19.5
newrelic==2.60.0.46
dj-static==0.0.6


# ==============================
# Background processing
# ==============================

celery==3.1.23
django-celery==3.1.17



# ==============================
# Database and Persistence
# ==============================

# DB Settings and Management
psycopg2==2.6.1
# Use this instead of psycopg2 in development if postgresql >= 10 is installed on host machine:
# psycopg2-binary==2.7.5
psycogreen==1.0
dj-database-url==0.4.1
django-object-actions==1.0.0

# Caching
django-redis==4.4.2
django-cache-url==1.0.0

# File Storage
boto==2.39.0
django-storages==1.4.1

# hierarchy support for our dataset labels:
django-closuretree==1.2.0


# ==============================
# User Accounts and Social Media
# ==============================
social-auth-core==1.7.0
social-auth-app-django==2.1.0
django-loginas==0.2.2
# Use fork of oauth2-provider, for Django 1.7 compatibility
# django-oauth2-provider==0.2.6.1
# git+https://github.com/glassresistor/django-oauth2-provider.git@4269205#egg=django-oauth2-provider==0.2.7-dev
# installing django-ouath-toolkit to replace django-oauth2-provider
django-oauth-toolkit== 0.12.0


django-cors-headers==1.1.0



# ==============================
# REST API
# ==============================

djangorestframework==3.3.3
djangorestframework-csv==1.4.1
djangorestframework-jsonp>=1.0.0,<1.1
# git+https://github.com/mjumbewu/django-rest-framework-bulk.git@84a5d6c#egg=djangorestframework-bulk==0.1.3
# replace forked drf-bulk with main version
djangorestframework-bulk==0.2
six>=1.10.0
markdown==2.6.11  # For browsable API docs
python-dateutil==2.5
ujson==1.35
Pillow==3.1.1
bleach==1.4.3

# The Django admin interface
django-ace==1.0.2

# The manager interface
requests>=2.9.1



# ==============================
# Testing, validating, and debugging
# ==============================

nose==1.3.7
django-nose==1.4.3
mock==1.3.0
mock_django==0.6.10
responses==0.5.1
django-debug-toolbar==1.4
raven==5.11.1  # For Sentry error logging


# - - - - - - - - - - - - - - - -

# For DRF 0.4 (deprecated)
URLObject>=2.4.0

pandas==0.24.1